<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title><%= user.name %> Show Page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <button type="submit">
    <a href="/users/<%=user._id%>/edit"> Edit Account For <%= user.name %></a>
  </button>
  <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
    <button type="submit">
      Delete <%= user.name %>'s Account'
    </button>
  <h1><%= user.name %>'s Actvitiy</h1>
  <h2>Post's Written by <%= user.name %></h2>
  <ul>
    <% user.posts.forEach((post) => { %>
      <li>
        <a href="/posts/<%=post._id%>">
         <%=post.title%> by <%= user.name %>
        </a>
      </li>      
    <% }) %>
  </ul>
  <button>
    <a href="../posts/new">Add New Post </a>
  </button>
  <h2>Comment's Made by <%= user.name %></h2>
  <ul>
    <% user.comments.forEach((comment) => { %>
      <li>
        <a href="/posts/<%=comment.post%>">
         Comment by <%= user.name %> on <%= comment.post %> that reads <% comment.content%>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>