<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title><%= post.title %></title>
</head>
<body>
  <a href="/posts/<%=post._id%>/edit">edit page<%= post.title %>  </a>
  <h1><%= post.title %>'s</h1>
  <p><%= post.content %></p>
  <ul>
    <% post.comments.forEach((comment) => { %>
      <li>
        <a href="/posts/<%=comment.post%>">
        <% comment.content%> by User <%= comment.user %>
        </a>
      </li>
    <% }) %>
  </ul>
  <h1>Add a Comment!</h1>
  <form action="/comments/addTo/<%= post._id%>" method="POST">
    <label for="content">Write a comment about the post:</label>
    <input type="text" name="content" id="content" />
    <button type="submit">Leave a Comment</button>
  </form>

</body>
</html>